html, body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: -19px -19px -19px -19px;
}
.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 1006px;
}
.left-section {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 2;
  background-image: url(https://www.theactivetimes.com/sites/default/files/%5Bcurrent-date%3Acustom%3AY/m/d%5D/Most_beautiful_colleges_reboot_getty_hero.jpg);
  background-position: center;
}
.right-section {
  background-image: url(https://www.theactivetimes.com/sites/default/files/%5Bcurrent-date%3Acustom%3AY/m/d%5D/Most_beautiful_colleges_reboot_getty_hero.jpg);
  background-color: grey;
  grid-column-start: 2;
  grid-column-end: 3;
}
.login-container {
  background-color: white;
  margin: 35% 14% 0% 8%;
  padding: 40% 10%;
  border-radius: 3px;
  text-align: center;
  height: 120px;
}
.input-form img{
  position: relative;
  top: -120px;
}
.input-form h4 {
  margin: -80px 0px 30px 0px;
  font-size: 15px;
}
.input-form .input-data input{
  width: 230px;
  margin: 4px 0px;
  padding: 7px 3px;
}
.login-container #login-btn {
  background-color: #436775;
  color: white;
  margin: 30px 0px;
  padding: 8px 50px;
  font-size: 12px;
}
